/* Add CSS Styling */
.gandalf,
.wizard { 
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.gandalf {
  background-color: black;
  color: white;
}

.wizard {
  background-color: yellow; 
}